PORT=5000
CLIENT_URL=http://localhost:5173

# MONGODB (Add your MongoDB URI here to start the database!)
MONGODB_URI="mongodb+srv://<user>:<password>@cluster.mongodb.net/gameworld?retryWrites=true&w=majority"
# FIREBASE ADMIN SDK
FIREBASE_PROJECT_ID="your-firebase-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@your-project.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# GEMINI AI
GEMINI_API_KEY="your-gemini-api-key"
